<nav class="flex justify-between p-5 bg-red-500 text-white items-center">
  <div class="text-[30px]">
    <a routerLink="/"> Recipe Book</a>
  </div>

  <div class="flex gap-2 text-[20px]">
    <ul class="flex gap-10">
      <li routerLinkActive="active" *ngIf="isAuthenticated">
        <a routerLink="/recipes">Recipes</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/shopping-list">Shopping List</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuthenticated">
        <a routerLink="/user">Login</a>
      </li>
    </ul>
    <ul class="flex gap-2">
      <li class="cursor-pointer" *ngIf="isAuthenticated">
        <a routerLink="/profile">User:{{ userEmail }}</a>
      </li>
      <li class="cursor-pointer" *ngIf="isAuthenticated">
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
