<div
  class="flex flex-col flex-1 gap-4 p-10 rounded shadow-md border border-red-300"
>
  <h1 class="text-[25px]">Shopping List</h1>
  <app-shopping-edit></app-shopping-edit>
  <ul class="list-group w-1/2">
    <a
      class="list-group-item"
      style="cursor: pointer"
      [@list1]
      *ngFor="
        let ingredient of (ingredients | async).ingredients;
        let i = index
      "
      (click)="onEditItem(i)"
    >
      {{ ingredient.name }} ({{ ingredient.amount }})
    </a>
  </ul>
</div>
