<div class="row">
    <div class="col-xs-6 col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
                 <label for="email" style="font-size:small">Email</label>
                 <input type="email" id="email" class="form-control" disabled [value]="email"/>
             </div>
             <div class="form-group">
                <label for="name" style="font-size:small">Name</label>
                <input type="text" id="name" class="form-control"/>
            </div>
        </form>

    </div>
</div>